<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.EmployeeMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Employee">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="dept_id" property="dept_id" jdbcType="INTEGER"/>
        <result column="job_id" property="job_id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="card_id" property="card_id" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="post_code" property="post_code" jdbcType="VARCHAR"/>
        <result column="tel" property="tel" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="qq_num" property="qq_num" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="party" property="party" jdbcType="VARCHAR"/>
        <result column="birthday" property="birthday" jdbcType="VARCHAR"/>
        <result column="race" property="race" jdbcType="VARCHAR"/>
        <result column="education" property="education" jdbcType="VARCHAR"/>
        <result column="speciality" property="speciality" jdbcType="VARCHAR"/>
        <result column="hobby" property="hobby" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_date" property="create_date" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, dept_id, job_id, name, card_id, address, post_code, tel, phone, qq_num, email, sex, party, birthday, race,
        education, speciality, hobby, remark, create_date, password
    </sql>
    <select id="findAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM employee_inf
    </select>
    <select id="findEmployeeById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM employee_inf
        WHERE id = #{id}
    </select>
    <select id="checkEmployeeById" resultType="java.lang.Long" parameterType="java.lang.Long">
        SELECT COUNT(*)
        FROM employee_inf
        WHERE id = #{id}
    </select>
    <delete id="delEmployeeById" parameterType="java.lang.Long">
        DELETE FROM employee_inf WHERE id = #{id}
    </delete>
    <insert id="insEmployee" parameterType="com.example.demo.entity.Employee">
<!--        INSERT INTO employee_inf(-->
    </insert>
</mapper>