<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.UserInfMapper">
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, loginname, password, salt, status, createdate, role_id, role_name, pwd_login_limit
    </sql>
    <insert id="insertUserInf" parameterType="com.example.demo.mapper.UserInfMapper">
        INSERT INTO user_inf(username, loginname, password, salt, status, createdate, role_id, role_name, pwd_login_limit)
        VALUES(#{userInf.username}, #{userInf.loginname}, #{userInf.password}, #{userInf.salt}, #{userInf.status}, #{userInf.createdate}, #{userInf.roleId}, #{userInf.roleName}, 0)
    </insert>
    <delete id="deleteUserInf" parameterType="java.lang.String">
        DELETE FROM user_inf WHERE loginname = #{loginName}
    </delete>
    <update id="updateUserInf" parameterType="com.example.demo.entity.UserInf">
        UPDATE user_inf
        SET password = #{userInf.password},
            salt = #{userInf.salt},
            username = #{userInf.username},
            role_id = #{userInf.roleId},
            role_name = #{userInf.roleName}
        WHERE loginname = #{userInf.loginname}
    </update>
    <update id="updatePasswordByLoginName">
        UPDATE user_inf
        SET password = #{password},
            salt = #{salt},
        WHERE loginname = #{loginName}
    </update>
</mapper>