<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.UserInfMapper">
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, loginname, password, status, createdate, username
    </sql>
    <select id="getUserList" resultType="com.example.demo.entity.UserInf">
        SELECT
        <include refid="Base_Column_List" />
        FROM user_inf
        ORDER BY id
    </select>
    <select id="countUserByLoginName" resultType="integer">
        SELECT COUNT(loginname)loginname FROM user_inf
        WHERE loginname=#{loginname}
    </select>
    <insert id="insertUserInf" parameterType="com.example.demo.mapper.UserInfMapper">
        INSERT INTO user_inf(loginname, password, status, createdate, username)
        VALUES(#{userInf.loginname}, #{userInf.password}, #{userInf.status}, #{userInf.createdate}, #{userInf.username})
    </insert>
    <delete id="deleteUserInf" parameterType="java.lang.String">
        DELETE FROM user_inf WHERE loginname = #{loginname}
    </delete>
    <insert id="updateUserInf" parameterType="com.example.demo.entity.UserInf">
        UPDATE user_inf
        SET password = #{userInf.password},
            username = #{userInf.username}
        WHERE loginname = #{userInf.loginname}
    </insert>
</mapper>